body {
    margin: 0;
}

.main-heading {
    background-color: #57e1f6;
    padding: 28px;
    margin-top: 0;
}

.accordion {
    background-color: rgb(252, 224, 99);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 18px;
    font-size: 15px;
}

.section-details {

}